go 1.25.0

use (
	./gen
	./pkg
	./services/approval
	./services/export
	./services/fx
	./services/gateway
	./services/iam
	./services/inventory
	./services/mail
	./services/masterdata
	./services/procurement
	./services/product
	./services/shipping
)
